body {
font-family: 'Poppins', sans-serif;
}

body {
    
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
  display: flex;
  }
  
  nav a {
      color: red;
  }

  html {
    scroll-behavior: smooth; 
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
  }
  
  .pro {
    font-size: 20px;
    }

footer p {
    display: inline-block;
    margin: 10px 20px;
}
  
h1 {
    color: red;
}

h2 {
    color: red;
}

footer a {
    margin: 10px 20px;
}

.study_link {
    color: black;
}

footer {
    display: flex;
    bottom: 0;
    align-items: center;
    width: 100%;
    
}